.about-h3 {
  font-family: 'Radley', serif;
  color: #C10000;
  z-index: -2;
  position: relative;
  margin-top: 3rem;
}

.about-h4 {
  font-family: 'Radley', serif;
  z-index: -3;
  position: relative;
}

/* .profile-inner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
} */