p {
  margin-bottom: 0;
}

img {
  position: relative;
  z-index: -1;
}

#side {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*============
nav
=============*/
nav {
  display: block;
  position: fixed;
  top: 0;
  right: -300px;
  bottom: 0;
  width: 300px;

  background: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all .5s;
  z-index: 3;
  opacity: 0;
}

.open nav {
  right: 0;
  opacity: 1;
  top: 0;
}

nav .inner {
  padding: 100px 25px;
}

nav .inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav .inner ul li {
  position: relative;
  margin: 0;
  border-bottom: 1px solid #333;
}

nav .inner ul li a {
  display: block;
  color: #333;
  font-size: 14px;
  padding: 1em;
  text-decoration: none;
  transition-duration: 0.2s;
}

nav .inner ul li a:hover {
  background: #e4e4e4;
}



/*============
#mask
=============*/
#mask {
  display: none;
  transition: all .5s;
}

.open #mask {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: 0;
  cursor: pointer;
}

/*=============================
.btn-trigger
=============================*/
.btn-trigger {
  position: relative;
  width: 40px;
  height: 38px;
  cursor: pointer;
  text-align: center;
}

.btn-trigger span {
  position: absolute;
  /* left: 60px; */
  width: 100%;
  height: 2px;
  background-color: rgb(139, 100, 100);
  border-radius: 4px;
  right: 1rem;

}

.btn-trigger,
.btn-trigger span {
  display: inline-block;
  transition: all .5s;
  box-sizing: border-box;
}

.btn-trigger span:nth-of-type(1) {
  top: 0;
}

.btn-trigger span:nth-of-type(2) {
  top: 17px;
}

.btn-trigger span:nth-of-type(3) {
  bottom: 0;
}

/*=============================
#menu-btn
=============================*/
.menu-btn-section {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  padding: 1rem;
  position: relative;
  z-index: 20;
}

#menu-btn span:nth-of-type(3),
#menu-btn.active span:nth-of-type(3) {
  transition: none;
}

#menu-btn.active {
  -webkit-transform: rotateX(720deg);
  transform: rotateX(720deg);
  position: relative;
  z-index: 100;
}

#menu-btn.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
}

#menu-btn.active span:nth-of-type(2) {
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}

#menu-btn.active span:nth-of-type(3) {
  opacity: 0;
}

footer ul {
  margin: 0;
}

/* スマホ縦 */
@media screen and (max-width: 575.98px) {

  #main,
  .main {
    min-height: 70vh;
  }

  .contents-bg {
    background-size: 70% auto;
    background-position: center bottom 14%;
    /* right: 100px; */
  }

  /* footer */

  footer {
    background-color: transparent;
    height: 8vh;
    align-items: center;
  }

  .copyright,
  .sns-btn {
    padding: 0;
  }

  .copyright {
    text-align: center;
  }

  .sns-list {
    text-align: right;
  }

  .sns-list li {
    display: inline;
  }

  .sns-list li i {
    margin: 0 0.3rem;
  }

  .copyright,
  .sns-list li {
    line-height: 2rem;
  }

  .footer-sns {
    display: none;
  }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}