.category-list {
  margin-top: 10vh;
}

.category-eyecatch {
  height: 120px;
  width: 100%;
  /* background: rgba(0, 0, 0, 0.6); */
  margin-bottom: 10px;
}

/* .category-eyecatch:hover {
  background: url(../images/arrow-gallery.png);
  background-repeat: no-repeat;
  background-position: right center;
} */

.eyecatch-web {
  background: url(../images/web.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}

.eyecatch-graphic {
  background: url(../images/graphic.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}

.eyecatch-illust {
  background: url(../images/illust.png);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
}

.eyecatch-web:hover {
  background: url(../images/web.png), url(../images/arrow-gallery.png);
  background-repeat: no-repeat, no-repeat;
  background-position: left center, right 2rem bottom 1rem;
  background-size: contain, auto;
}

.eyecatch-graphic:hover {
  background: url(../images/graphic.png), url(../images/arrow-gallery.png);
  background-repeat: no-repeat, no-repeat;
  background-position: left center, right 2rem bottom 1rem;
  background-size: contain, auto;
}

.eyecatch-illust:hover {
  background: url(../images/illust.png), url(../images/arrow-gallery.png);
  background-repeat: no-repeat, no-repeat;
  background-position: left center, right 2rem bottom 1rem;
  background-size: contain, auto;
}

.arrow-gallery {
  text-align: right;
  margin-top: 90px;
}


.category-eyecatch a {
  color: rgba(255, 255, 255, 1);
}

.cat-txt {
  right: 0rem;
  text-align: left;
  position: relative;
  bottom: -4.5rem;
  font-size: 2rem;
}

/* 矢印 */