p {
  margin-bottom: 0;
}

#side {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #home-main {
  min-height: 75vh;
} */




/* スマホ縦 */
@media screen and (max-width: 575.98px) {
  .site-title {
    margin-top: 1rem;
  }

  #home-main {
    height: 70vh;
  }

  .home-bg {
    background-size: 76% auto;
    background-position: center bottom 42%;
  }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}