.post-title {
  min-height: 3.2rem;
  width: 100%;
  margin-bottom: 1rem;
  text-align: left;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.post-title h1 {
  font-size: 1.6rem;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.time-wrapper {
  text-align: left;
}

.post-thumbnail-area {
  min-height: 270px;
  width: 480px;
  background: transparent;
  background-position: center;
  margin: 0;
}

.article-txt {
  margin: 2rem 0;
}

.breadcrumb {
  background: transparent;
  font-family: 'Radley', 'YuMincho', serif;
}



/* スマホ縦 */
@media (max-width: 575.98px) {
  #single-side-1 {
    order: 2;
  }

  #single-main {
    order: 1;
  }

  #single-side-2 {
    order: 3;
  }

  .post-thumbnail-area {
    height: auto;
    width: 100%;
    background: transparent;
    text-align: center;
  }

  .post-thumbnail-area img {
    margin: auto;
  }

  .post-thumbnail-area {
    min-height: 170px;
  }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}