* {
  margin: 0;
  padding: 0;
}

body,
p,
a {
  font-family: 'Radley', 'YuGothic', sans-serif;
}

ul,
ol {
  margin: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
li {
  list-style: none;
}

footer {
  height: 8vh;
  background-color: rgba(0, 0, 0, 0.0);
  /* padding: 1rem 0 0.2rem; */
  position: relative;
  bottom: 0;
  left: 0;
}

header {
  /* background: pink; */
  height: 10vh;
}

a {
  color: #ececec;
}

a:visited {
  color: #a091a0;
}

a:hover,
a:focus,
a:active {
  color: #72405d;
}

.top-logo-img {
  height: 50px;
  margin: 10px;
}

#main,
.main {
  min-height: 80vh;
}

#side,
.side {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-title {
  margin: 0 1rem;
  /* height: 80vh; */
  margin-top: 30vh;
}

.title-text {
  /* line-height: 80vh; */
  font-size: 20px;
}

a:hover .arrow {
  opacity: 0.5;
}

.arrow-box {
  text-align: center;
  /* margin-top: 30vh; */
  /* line-height: 80vh; */
}

.arrow {
  width: 80px;
  height: auto;
  opacity: 0.8;
}

a,
a:visited {
  color: rgba(0, 0, 0, 0.5);
}

a:hover {
  color: rgb(179, 110, 110);
  text-decoration: underline;
}

.home-bg {
  background: url(../images/book-01.png);
  background-repeat: no-repeat;
  background-size: 50% auto;
  height: 80vh;
  background-position: right 28% bottom 11%;
  /* right: 100px; */
}

/* footer */

footer span {
  color: rgba(0, 0, 0, 0.5);
}

.sns-list {
  text-align: right;
}

.sns-list li {
  display: inline-block;
  margin: 0 0.5rem 0 0;
  line-height: 8vh;
  vertical-align: middle;
}

.sns-list li i {
  margin: 0 0.3rem;
}

.copyright {
  line-height: 8vh;
  vertical-align: middle;
}

/*  --------------------- 
------------ contents --
 ---------------------  */

.contents-bg {
  background: url(../images/book-01.png), rgba(255, 255, 255, 0.6);
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-size: 50% auto;
  height: 80vh;
  background-position: right 28% bottom 11%;
  /* right: 100px; */
}

.contents-list {
  margin-top: 10vh;
}

.contents-card {
  height: 130px;
}

.contents-frame {
  height: 80px;
  width: 80px;
  /* background: rgba(0, 0, 0, 0.6); */
  margin: auto;
}

.contents-caption {
  text-align: center;
}

/* ------------ gallery --
 ---------------------  */


/* ------------ category --
 ---------------------  */
.post-list {
  margin-top: 10vh;
}

.post-card {
  height: 190px;
}

.post-frame {
  height: 160px;
  width: 80%;
  background: transparent;
}


/* ------------ category --
 ---------------------  */



/* side bar? */
.arrow-css {
  display: inline-block;
  height: 2px;
  width: 80px;
  background-color: #5bc0de;
  position: relative;
  top: 4px;
}

.arrow-css:before {
  content: '';
  width: 6px;
  height: 6px;
  border: 0px;
  border-top: solid 2px #5bc0de;
  border-right: solid 2px #5bc0de;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -4px;
}



/* スマホ縦 */
@media screen and (max-width: 575.98px) {
  footer {
    /* height: 8vh; */
    background-color: rgba(0, 0, 0, 0.0);
    /* position: absolute;
    bottom: 0;
    left: 0; */
  }

  #side,
  .side {
    height: 12vh;
  }

  .post-list,
  .contents-list {
    margin-top: 5vh;
  }

  .post-frame {
    height: 160px;
    width: 100%;
    background: transparent;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}